@import 'colors.css';

* {
    border:           none;
    border-radius:    0;
    font-family:      "JetBrains Mono";
    font-weight:      bold;
    font-size:        16px;
    min-height:       0;
}

window#waybar {
    background:       transparent;
    color:            @nf-fg;
}

#workspaces button {
    background:       @nf-bg0;
    padding:          5px;
    color:            @nf-yellow;
    margin-right:     5px;
    margin-left:      5px;
}

#workspaces button.focused {
    background:       @nf-bg0;
    border-radius:    10px;
}

#workspaces button.urgent {
    color:            @nf-red;
    background:       @nf-bg0;
    border-radius:    10px;
}

#workspaces button:hover {
    background:       @nf-bg2;
    color:            @nf-fg;
    border-radius:    5px;
}

#custom-power-menu,
#custom-weather,
#custom-moon,
#custom-wallpaper,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#custom-memory,
#workspaces,
#tray,
#backlight {
    background:       @nf-bg0;
    opacity:          0.8;
    padding:          0px 10px;
    /* margin:          3px 0px; */
    margin:           0px 0px;
    margin-top:       10px;
    border:           1px solid #181825;
}

#memory {
    color:            #eba0ac;
}
#temperature {
    color:            @nf-purple;
    background:       @nf-bg0;
    padding:          0px 0px;
    margin:           0px 0px;
    margin-top:       10px;
    border-radius:    0px 0px 0px 0px;
    border-left:      0px;
    border-right:     0px;
    border-top:       1px solid;
    border-bottom:    1px solid;
    margin-right:     0px;
}

#temperature.critical {
    color:            @nf-red;
    background:       @nf-bg0;
    padding:          0px 0px;
    margin:           0px 0px;
    margin-top:       10px;
    border-radius:    0px 0px 0px 0px;
    border-left:      0px;
    border-right:     0px;
    border-top:       1px solid;
    border-bottom:    1px solid;
    margin-right:     0px;
}

#tray {
    border-radius:    10px;
    margin-right:     10px;
}

#workspaces {
    color:            @nf-yellow;
    background:       @nf-bg0;
    border-radius:    10px;
    margin-left:      10px;
    padding-right:    5px;
    padding-left:     5px;
    border:           1px solid;
}

#custom-power_profile {
    color:            #a6e3a1;
    border-left:      0px;
    border-right:     0px;
}

#window {
    border-radius:    10px;
    margin-left:      60px;
    margin-right:     60px;
}

#clock {
    color:            @nf-purple;
    background:       @nf-bg0;
    border-radius:    10px 10px 10px 10px;
    margin-left:      10px;
    border-right:     10px;
    border:           1px solid;
}

#network {
    color:            @nf-purple;
    background:       @nf-bg0;
    padding:          0px 10px;
    margin:           0px 0px;
    margin-top:       10px;
    border-radius:    10px 0px 0px 10px;
    border-left:      1px solid;
    border-top:       1px solid;
    border-bottom:    1px solid;
    border-right:     0px;
    margin-right:     0px;
}

#bluetooth {
    color:            @nf-cyan;
    border-radius:    0px 10px 10px 0px;
    margin-right:     10px;
    border-left:      0px;
} 

#pulseaudio {
    color:            @nf-green;
    border-left:      0px;
    border-right:     0px;
    border-radius:    10px 0px 0px 10px;
    border-top:       1px solid;
    border-bottom:    1px solid;
    border-left:      1px solid;
}

#pulseaudio.microphone {
    color:            @nf-green;
    border-left:      0px;
    border-right:     0px;
    border-radius:    0px 10px 10px 0px;
    margin-right:     0px;
    border-top:       1px solid;
    border-bottom:    1px solid;
    border-right:     1px solid;
}

#battery {
    color:            @nf-purple;
    border-radius:    0px 10px 10px 0px;
    margin-right:     10px;
    border-left:      0px;
    border-top:       1px solid;
    border-bottom:    1px solid;
    border-right:     1px solid;
}
#battery.warning {
    color:            @nf-orange;
}
#battery.critical {
    color:            @nf-red;
} 

#custom-powermenu {
    color:            @nf-cyan;
    background:       @nf-bg0;
    border-radius:    10px;
    margin-top:       10px;
    margin-right:     10px;
    margin-left:      10px;
    padding:          5px 5px 5px 12px;
    border:           1px solid;
}

#custom-player {
    color:            @nf-green;
    background:       @nf-bg0;
    border-radius:    10px;
    margin-top:       10px;
    margin-right:     10px;
    margin-left:      10px;
    padding:          5px 5px 5px 5px;
    border:           1px solid;
}

#custom-launcher {
    color:            @nf-cyan;
    background:       @nf-bg0;
    border-radius:    10px;
    margin-top:       10px;
    margin-right:     10px;
    margin-left:      10px;
    padding:          5px 18px 5px 5px;
    border:           1px solid;
}
